/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html { box-sizing: border-box; } *, *:before, *:after { box-sizing: inherit; }


html, body {
  height: 100%;
  font: medium/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.build-link a {
  display: block;
  width: 100%;
  padding: 1em;

  font-size: 2em;
}

.js-enabled .build-link {
  position: absolute;
  top: 0;
  width: 100%;

  margin-top: -150px;
  padding-bottom: 100px;

  text-align: center;

  transition: margin-top ease .75s;
}

.js-enabled .build-link a {
  background: #222;
  color: #fff;
  border-bottom: 4px solid #000;
}

.js-enabled .build-link:hover {
  margin-top: 0px;
}

.container,
.layout {
  height: 100%;
}

.layout {
  overflow: hidden;
}

.layout .item {
  float: left;
  height: 100%;
  width: 100%;
  border: 2px solid #000;
}

/**
    Layouts
*/

.layout-2row .item { height: 50%; }

.layout-2col .item { width: 50%; }

.layout-3row .item { height: 33.3%; }

.layout-3col .item { width: 33.3%; }

.layout-2x2 .item { width: 50%; height: 50%; }

.layout-2x1 .item { width: 50%; height: 50%; }
.layout-2x1 .item-1 { height: 100%; }

.layout-2x1ish .item { width: 67%; height: 50%; }
.layout-2x1ish .item-1 { height: 100%; width: 33%; }

.layout-1x2 .item { width: 50%; height: 67%; }
.layout-1x2 .item-1 { height: 33%; width: 100%; }

.layout-banner-plus-3col .item { width: 33.3%; height: 67%; }
.layout-banner-plus-3col .item-1 { width: 100%; height: 33%; }
